body {
    background-image: url("summer1.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}
#numefirma{
	font: italic bold 30px/20px Georgia, serif;
	color:  #FF8000;
}

#Contacttable{
	font-family: "Times New Roman", sans-serif;
	font-size: 1.4em;
	color: #FF3300 ;
	position: left;
}

.paragrafimbunatatit{

	font: Tahoma bold 20px/20 px Tahoma, serif;
	color:  #0066FF;
	text-align:center;
	vertical-align:"bottom";
	
}